<footer>

    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>About Medicio</h5>
            <p>
            Lorem ipsum dolor sit amet, ne nam purto nihil impetus, an facilisi accommodare sea
            </p>
          </div>
          </div>
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Information</h5>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Laboratory</a></li>
              <li><a href="#">Medical treatment</a></li>
              <li><a href="#">Terms & conditions</a></li>
            </ul>
          </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Medicio center</h5>
            <p>
            Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc sit amet.
            </p>
            <ul>
              <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                </span> Monday - Saturday, 8am to 10pm
              </li>
              <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
                </span> +62 0888 904 711
              </li>
              <li>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                </span> hello@medicio.com
              </li>
  
            </ul>
          </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Our location</h5>
            <p>The Suithouse V303, Kuningan City, Jakarta Indonesia 12940</p>		
            
          </div>
          </div>
          <div class="wow fadeInDown" data-wow-delay="0.1s">
          <div class="widget">
            <h5>Follow us</h5>
            <ul class="company-social">
                <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>	
    </div>
    <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="wow fadeInLeft" data-wow-delay="0.1s">
          <div class="text-left">
          <p>&copy;Copyright - Medicio Theme. All rights reserved.</p>
          </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="wow fadeInRight" data-wow-delay="0.1s">
          <div class="text-right">
            <div class="credits">
                            <!-- 
                                All the links in the footer should remain intact. 
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medicio
                            -->
                            <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
          </div>
          </div>
        </div>
      </div>	
    </div>
    </div>
  </footer>
