<app-user-menu-bar></app-user-menu-bar>


<!-- <section id="testimonial" class="home-section paddingbot-60 parallax" data-stellar-background-ratio="0.5">

    <div class="carousel-reviews broun-block">
        <div class="container">
            <div class="row">

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >


                            <div class="panel panel-skin">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Take Appointment</h3>
                                        </div>
                                        <div class="panel-body">
                                                
                                                <div class="section-heading text-center">
                                                        <h5 class="h-bold">Select Age ,Hospital and Time for Appointment</h5>
                                                </div>
                                                   
                                                

                                                <form action="" method="post" role="form" class="contactForm lead">

                                                            <div class="row">
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                      <div class="form-group">
                                                                        <label>Age</label>
                                                                        <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                  <div class="validation"></div>
                                                                      </div>
                                                                    </div>

                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                             <div class="form-group">
                                                                              <label>Mother Name</label>
                                                                              <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                        <div class="validation"></div>
                                                                            </div> 
                                                                            <img src="assets/img/menu_img/Appointment.jpg" alt="" height="300" width="300">
                                                                
                                                                          </div>
                                                                   
                                                            </div>

                                                            <div class="row">
                                                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                                                      <div class="form-group">
                                                                        <label>Vaccination</label>
                                                                        <label>{{Vaccination_Name}}</label>
                                                                      </div>
                                                                    </div>
                                                                </div>




                                                                <div class="row">   
                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                            <div class="form-group">
                                                                              <label>Date</label>
                                                                              <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                        <div class="validation"></div>
                                                                            </div>
                                                                          </div>
                                                                   
                                                            </div>


                                                </form>
                                            </div>
                                        </div>
                                        </div>
                                        
    </div>




 
    <div class="section-heading text-center">

    <div class="row">
           
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >
        
           

                    <div class="panel panel-skin">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Take Appointment</h3>
                                </div>
                                <div class="panel-body">
                                        
                                        <div class="section-heading text-center">
                                                <h5 class="h-bold">Select Age ,Hospital and Time for Appointment</h5>
                                        </div>
                                           
                                        

                                        <form action="" method="post" role="form" class="contactForm lead">

                                                <div class="row">

                                                 <table>

                                                    <tr>
                                                        <td colspan="10" rowspan="10">
                                                                <div class="span5">
                                                                        <div>
                                                                                <img src="assets/img/menu_img/Appointment.jpg" alt="" height="300" width="300">
                                                                        </div>
                                                                </div>
                                                        </td>

                                                        <td>
                                                            <tr>
                                                                    <div class="span5">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                                              <div class="form-group">
                                                                                <label>Age</label>
                                                                                <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                <div class="validation"></div>
                                                                           </div>
                                                                     </div>
                                                                     </div>
                                                            </tr>

                                                            <tr>
                                                                    <div class="row">
                                                                            <div class="col-xs-6 col-sm-6 col-md-6">
                                                                              <div class="form-group">
                                                                                <label>Vaccination</label>
                                                                                <label>{{Vaccination_Name}}</label>
                                                                              </div>
                                                                            </div>
                                                                        </div>

                                                            </tr>

                                                        </td>
                                                    </tr>
                                                 </table>

                                                </div>


                                            </form>

                                            </div>
                    </div>
            </div>

                                            
      </div>
      </div>
        </div>

    </div>

</section> -->


<section id="testimonial" class="home-section paddingbot-60 parallax" data-stellar-background-ratio="0.5">

                <div class="carousel-reviews broun-block">
                    <div class="container">
                        <div class="row">
            
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                      <div class="body-center">
                                                <div class="panel panel-skin">
                                                                <div class="panel-heading">
                                                                    <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> Take Appointment</h3>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                                <div class="section-heading text-center">
                                                                                                <h5 class="h-bold">Select Age ,Hospital and Time for Appointment</h5>
                                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                                        <div>
                                                                                                        <img src="assets/img/menu_img/Appointment.jpg" alt="" height="300" width="300">
                                                                                                </div>
                                                                                </div>

                                                                        <div class="col-lg-6">

                                                                                        <div class="row">
                                                                                                        <div class="col-xs-10 col-sm-10 col-md-10">
                                                                                                                
                                                                                                                        <label>Select Age Group</label>
    													 <select class="form-control input-md"  [value]="agegroup" (change)="onChangeVaccine($event.target.value)" > 
																<option *ngFor="let V of VaccineInfos" [value]="V.vaccineId" >{{V.ageGroup}}</option>
														</select><div class="validation"></div>
                                                                                                        
                                                                                                        </div>
                                                                                                        
                                                                                                </div>
            
                                                                                                <div class="row">
                                                                                                        <div class="col-xs-10 col-sm-10 col-md-10">
                                                                                                                <div class="form-group">
                                                                                                                        <label>Vaccination Details:</label>
                                                                                                                        {{VaccineName}}
                                                                                                                </div>
                                                                                                        </div>
                                                                                                        
                                                                                                </div>

                                                                                                <div class="row">
                                                                                                                <div class="col-xs-10 col-sm-10 col-md-10">
                                                                                                                        
                                                                                                                                <label>Select Hospital</label>
                                                                                                                                <select class="form-control input-md"  [value]="agegroup" (change)="onChangeHospital($event.target.value)" >
                                                                                                                                            <option *ngFor="let hos of Hospitalinfos" [value]="hos.hospital_Id" >{{hos.hospitalname}}</option>
                                                                                                                                    </select><div class="validation"></div>
                                                                                                                
                                                                                                                </div>
                                                                                                                
                                                                                                        </div>

                                                                                                        <div class="row">
                                                                                                                        <div class="col-xs-10 col-sm-10 col-md-10">
                                                                                                                                
                                                                                                                                        <label>Select Date</label>
                                                                                                                                        <input type="date" class="form-control input-md" [(ngModel)]="fDate" >
                                                                                                                                                   
                                                                                                                                           
                                                                                                                        
                                                                                                                        </div>
                                                                                                                        
                                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                                <div class="col-xs-10 col-sm-10 col-md-10">
                                                                                                                                        
                                                                                                                                                <label>Select Time</label>
                                                                                                                                                <input type="time" class="form-control input-md" [(ngModel)]="fTime"  >
                                                                                                                                
                                                                                                                                </div>
                                                                                                                                
                                                                                                                        </div>
                                                                                                                        <br>
                                                                                                                        <div class="row">
                                                                                                                                        <div class="col-xs-10 col-sm-10 col-md-10">
                                                                                                                        <input type="submit" value="Submit" class="btn btn-skin btn-block btn-lg" (click)="AddAppointment()">
                                                                                                                        </div>
                                                                                                                        </div>


                                                                        </div>

                                                                     </div>
                                                        </div>
                                                </div>
                        


                                
                     


                                
                                </div>
                        </div>
                </div>
        </div>
</section>