 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="top-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-6">
        <p class="bold text-left">Vaccination Portal</p>
        </div>
        <div class="col-sm-6 col-md-6">
        <p class="bold text-right">Welcome</p>
        </div>
      </div>
    </div>
  </div>
      <div class="container navigation">
  
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                  <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="/login">
                  <img src="assets/img/logo.png" alt="" width="150" height="40" />
              </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
      <li> <a [routerLink]="[ '/login' ]">Home</a></li>
      <li> <a [routerLink]="[ '/vaccinationdetails' ]">Vaccination Details</a></li>
      <li><a [routerLink]="[ '/about-us' ]">About Us</a></li>
      <li><a [routerLink]="[ '/contact-us' ]">Contact Us</a></li>
      <!-- <li><a [routerLink]="[ '/userregister' ]">Register</a></li>
      <li><a [routerLink]="[ '/adminDashboard' ]">Admin</a></li>
      <li><a [routerLink]="[ '/hospitalDashboard' ]">Hospital</a></li>
      <li><a [routerLink]="[ '/userDashboard' ]">User</a></li> -->

      
      
      </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
