<app-menu-bar></app-menu-bar>




<section id="testimonial" class="home-section paddingbot-60 parallax" data-stellar-background-ratio="0.5">

    <div class="carousel-reviews broun-block">
        <div class="container">
            <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >


                            <div class="panel panel-skin">
                                    <div class="panel-heading">
                                        <!-- <h3 class="panel-title"><span class="fa fa-pencil-square-o"></span> User Registration</h3> -->
                                        </div>
                                        <div class="panel-body">
                                                
                                                <!-- <div class="section-heading text-center">
                                                        <h5 class="h-bold">For Hospital Registration <a [href]="['/hospitalregister']"><span class="color"> Click Here!</span></a></h5>
                                                </div> -->
                                                   
                                                

                                                <form action="" method="post" role="form" class="contactForm lead">

                                                        <div class="row">
                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                  <div class="form-group">
                                                                    <label>Hospital Name</label>
                                                                    <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                              <div class="validation"></div>
                                                                  </div>
                                                                </div>

                                                                  <div class="col-xs-6 col-sm-6 col-md-6"> 
                                                                        <div class="form-group">
                                                                          <label>Type</label><br/>
                                                                          <input type="radio" name="first_name" id="first_name">Private Hospital
                                                                          <input type="radio" name="first_name" id="first_name">Goverment Hospital
                                                                                                    <div class="validation"></div>
                                                                         </div>  
                                                                      </div> 
                                                               
                                                        </div>

                                                        <div class="row">
                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                  <div class="form-group">
                                                                    <label>Address</label>
                                                                    <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                              <div class="validation"></div>
                                                                  </div>
                                                                </div>

                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="form-group">
                                                                          <label>Detail</label>
                                                                          <input type="textarea" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                    <div class="validation"></div>
                                                                        </div>
                                                                      </div>
                                                               
                                                        </div>

                                                        <div class="row">
                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                  <div class="form-group">
                                                                    <label>Area</label>
                                                                    <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                              <div class="validation"></div>
                                                                  </div>
                                                                </div>

                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="form-group">
                                                                          <label>Gender</label>
                                                                          <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                    <div class="validation"></div>
                                                                        </div>
                                                                      </div>
                                                               
                                                        </div>

                                                        <div class="row">
                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                  <div class="form-group">
                                                                    <label>User Name</label>
                                                                    <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                              <div class="validation"></div>
                                                                  </div>
                                                                </div>

                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="form-group">
                                                                          <label>Upload Hospital Image</label>
                                                                           <input type="file" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                    <div class="validation"></div>
                                                                        </div> 
                                                                        
                                                                      </div>
                                                               
                                                        </div>

                                                        <div class="row">
                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                  <div class="form-group">
                                                                    <label>Password</label>
                                                                    <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                              <div class="validation"></div>
                                                                  </div>
                                                                </div>

                                                                <div class="col-xs-6 col-sm-6 col-md-6">
                                                                        <div class="form-group">
                                                                          <label>Confirm Password</label>
                                                                          <input type="text" name="first_name" id="first_name" class="form-control input-md" data-rule="minlen:3" data-msg="Please enter at least 3 chars">
                                                                                                    <div class="validation"></div>
                                                                        </div>
                                                                      </div>
                                                               
                                                        </div>

                                                        <div class="section-heading text-center">
                                                             <div class="row">
                                                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                                                                <input type="submit" value="Submit" class="btn btn-skin btn-block btn-lg">
                                                                        </div>
                                                             </div>
                                                                
                                                        </div>
                                                </form>

                                           






                                        </div>
                                    </div>
                                
            


                    </div>
            </div>

        </div>
</div>
</section>



