<app-admin-menu-bar></app-admin-menu-bar>


<section id="intro" class="intro">
        <div class="intro-content">
	

<div class="container">
    
        
			<div class="row">

                    <div class="section-heading text-center">
                            <h5 class="h-bold">Select your Preferences</h5>
                    </div>
                
                    <div class="section-heading text-center">
                    <div class="row>">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <div class="box">
                                    <div class="aligncenter">
                                    <div class="icon">
        
                                        <tr><td> <i> <a href=""></a> 
                                        <a [href]="['/adminDisableHospital']"> <img src="assets/img/menu_img/Hospital_review2.jpg" height="200" width="200"> </a></i></td></tr>
                                        <tr><td><h4>New Hospital Preview</h4> </td></tr>
                                        </div>
                                        </div>
                                    </div>
                        
                            </div>
        
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="box">
                                        <div class="aligncenter">
                                        <div class="icon">
        
                                            <tr><td> <i> <a href=""></a> 
                                            <a [href]="['/adminHospitalList']"> <img src="assets/img/menu_img/Hospital.jpg" height="200" width="200"> </a></i></td></tr>
                                            <tr><td><h4>Hospitals List</h4> </td></tr>
                                            </div>
                                            </div>
                                        </div>
                            
                                </div>
        
                                
        
        
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="box">
                                                <div class="aligncenter">
                                                <div class="icon">
            
                                                    <tr><td> <i> <a href=""></a> 
                                                    <a [href]="['/#']"> <img src="assets/img/menu_img/memberList.jpg" height="200" width="200"> </a></i></td></tr>
                                                    <tr><td><div class="section-heading text-center">
                                                        <h4>Members</h4> 
                                                    </div>
                                                </td></tr>
                                                    </div>
                                                    </div>
                                                </div>
                                    
                                        </div>
                                        <!-- <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="box">
                                                    <div class="aligncenter">
                                                    <div class="icon">
                
                                                        <tr><td> <i> <a href=""></a> 
                                                        <a [href]="['/#']"> <img src="assets/img/menu_img/Previous_Appointment2.jpg" height="200" width="200"> </a></i></td></tr>
                                                        <tr><td><h4>Previous Appointment</h4> </td></tr>
                                                        </div>
                                                        </div>
                                                    </div>
                                        
                                            </div> -->
                        
                    </div>


            </div>
        </div>
            </div>
        
   
</div>
</section>