<app-hospital-menu-bar></app-hospital-menu-bar>

<section id="testimonial" class="home-section paddingbot-60 parallax" data-stellar-background-ratio="0.5">
<div class="carousel-reviews broun-block">
<div class="container">
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
     <div class="body-center">
     <div class="panel panel-skin">
     <div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-th-list"></span> Previous Appointment(Completed)</h3>
    </div>
    <div class="panel-body">
    <div class="section-heading text-center">
    <h5 class="h-bold">Previous Appointment List</h5>
</div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<table class="table table-bordered table-dark abc" border="1">
<tr>
<th width="20px">Appointment ID</th>
<th>Child Name</th>
<th>Father Name</th>
<th>Age</th>
<th>Vaccine Name</th>
<th>Date</th>
<th>Time</th>
</tr>
                                                                                    
<tr *ngFor="let PHD of HospitalAppointmentDetails">
        <td>{{PHD.appointmentId}}</td>
        <td>{{PHD.childName}}</td>
        <td>{{PHD.fatherName}}</td>
        <td>{{PHD.age}}</td>
        <td>{{PHD.vaccineName}}</td>
        <td>{{PHD.date}}</td>
        <td>{{PHD.time}}</td>
</tr>
                                                                                    
</table>
    
</div>
</div>
    </div>
    </div>
   </div>
    </div>
    </div>
 </div>
</section>